body {
    background: url(../images/surveybg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
h1 {
    color: rgb(83, 158, 80);
 text-shadow: 1px 1px 2px gray;
}
h3 {
    color: white;
}
h6 {
    text-shadow: 1px 1px 2px gray;
}